.emailcard{
    align-items: flex-start;
    width: 100%;
    padding: 10px 0px;
    gap: 10px !important;
    padding-bottom: 20px;
    position: relative;
}

.emailcard h2{
    font-size: 1.3rem;
    font-weight: 400;
}

.emailcard span{
    position: absolute;
    right: 10px;
}

.emailcard:hover{
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}
.emailcard:focus{
    border-left: 3px solid ;
}