
/* Replybox navbar */
.replymodel{
    position: absolute;
    display: grid;
    grid-template-rows: 10% 76% 14%;
    height: 550px;
    width: 50vw;
    left: 50%;
    bottom: 20px;
    z-index: 10;
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
}
.replymodel section:nth-child(1){
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    width: 90%;
}
.replymodel section:nth-child(1) button{
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
}
.replymodel section:nth-child(1) button:hover{
    cursor: pointer;
    transform: scale(120%);
}




/* Replybox Main Body */
.replymodel section:nth-child(3){
    padding: 13px 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.replymodel section:nth-child(3) button{
    align-self: flex-start;
    font-size: 1.2rem;
    border-radius: 5px;
    background: linear-gradient(90deg,#465fdb,#0524bd);
    padding: 10px 40px;
    border: none;
    color: white;
}
.replymodel section:nth-child(3) button:hover{
    cursor: pointer;
}
.replymodel section:nth-child(3) img{
    height: 25px;
}




/* Replybox Misc Functions */
.replymodel section:nth-child(2) div{
    padding: 10px 30px;
}
.replymodel section:nth-child(2) div input{
    border: none;
    outline: none;
    width: 80%;
    background-color: transparent;
    margin-left: 10px;
    font-size: 1rem;
}

.replymodel section:nth-child(2) p{
    height: 100%;
    width: 100%;
    padding: 20px 30px;
}

.replymodel section:nth-child(2) textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
    font-size: 1rem;
    resize: both; 
}




.replymodel,
.replymodel section,
.replymodel input,
.replymodel p{
    transition: all 0.5s ease;
}