*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  transition: all 0.5s ease;
}
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.center{
  justify-content: center;
  align-items: center;
}
.between{
  justify-content: space-between !important;
}